<div id="DeleteListForm">
  <div class="pl-3 py-2 border-bottom text-white" id="delete_header">
    <h4 class="baloo-font font-22 my-1" id="delete_list_title"></h4>
  </div>
    <form class="py-3 border" action="/deletecategory" method="post">
    {% csrf_token %}
    <div class="mb-2 px-3">
      <p class="mb-3" id="delete_message"></p>
    </div>
    <input type="hidden" id="delete_list_id" name="list_id" value="">
    <div class="row">
      <div class="col pr-5">
        <button type="submit" onclick="closeDeleteListForm()" class="addBtn btn btn-submit-register green-blue-bg">Supprimer</button>
        <div onclick="closeDeleteListForm()" class="addBtn btn btn-submit-register darkblue-bg">Annuler</div>
      </div>
    </div>
  </form>
</div>
