<div id="EditListForm">
  <div class="pl-3 py-2 border-bottom green-blue-bg text-white ">
    <h4 class="baloo-font font-22" id="edit-list-title"></h4>
  </div>
    <form class="py-3 border" action="/editcategory" method="post">
    {% csrf_token %}
    <div class="row mb-3 px-3">
      <div class="col-10">
        <input class="form-control pt-2" id="edit-list-name" type="text" name="edit-list-name" required="true" >
      </div>
      <div class="col-2 align-self-end mb-1">
        <div class="color-picker color-field" required="true"></div>
        <input type="hidden" name="edit-list-color" value="">
      </div>
    </div>
    <input type="hidden" id="edit-list-id" name="edit-list-id">
    <div class="row">
      <div class="col pr-5 mt-2">
        <button type="submit" onclick="closeEditListForm()" class="addBtn btn btn-submit-register green-blue-bg">Modifier</button>
        <div onclick="closeEditListForm()" class="addBtn btn btn-submit-register darkblue-bg">Fermer</div>
      </div>
    </div>
  </form>
</div>
