<div class="pl-3 py-2 border-bottom green-blue-bg text-white">
  <h4>{{ current_updating_task.name }}</h4>
</div>
  <form class="py-3 border" action="/updatetask/{{ current_updating_task.id }}" method="post" id="empty-task-form-submit-action">
  {% csrf_token %}
  <div class="mb-3 px-3">
    <label for="tasklists">Catégorie :</label>
    <select name="tasklists" id="tasklists">
      {% for tasklist in all_tasklists %}
        <option value="{{ tasklist.id }}">{{ tasklist.name }}</option>
      {% endfor %}
    </select>
    <button onclick="openNewListForm()" type="button" class="border-0 bg-transparent"><i class="far fa-plus-square fa-2x align-middle"></i></button>
    <button onclick="openEditListForm()" type="button" class="border-0 bg-transparent"><i class="far fa-edit fa-2x align-middle"></i></button>
    <button onclick="openDeleteListForm()" type="button" class="border-0 bg-transparent"><i class="far fa-trash-alt fa-2x align-middle"></i></button>
  </div>
  <div class="mb-5 px-3">
    <label>Nom*</label>
    <input class="form-control" type="text" name="name" required="true" value="{{ current_updating_task.name }}">
  </div>
  <div class="mb-5 px-3 font-16">
    <label>Date limite</label>
    <input class="form-control" class="form-control" type="date" name="due_date" value="{{ current_updating_task.due_date }}">
  </div>
  <div class="mb-3 px-3 font-16">
    <label>Description</label>
    <textarea class="form-control" name="description" rows="3">{{ current_updating_task.description }}</textarea>
  </div>
  <div class="row justify-content-between px-5 py-2">
    <div class="col-3">
      <a href="/deltask/{{ current_updating_task.id }}" class="addBtn btn btn-submit-register float-left">Supprimer</a>
    </div>
    <div class="col-5">
      <button type="submit" class="addBtn btn btn-submit-register green-blue-bg">Modifier</button>
      <a href="/tasks" class="addBtn btn btn-submit-register">Annuler</a>
    </div>
  </div>
</form>
