<div class="border w-100 font-18" id="empty-task-form">
  <div class="pl-3 py-2 border-bottom text-white" id="empty-task-form-header">
    <h4 class="baloo-font font-22 my-auto" id="empty-task-form-title">Nouvelle tâche</h4>
  </div>
    <form class="py-3" action="/addtask" method="post" id="empty-task-form-submit-action">
    {% csrf_token %}
    <div class="mb-3 px-3 pb-2">
      <div class="row">
        <label class="my-auto mr-2" for="tasklists">Catégorie*</label>
        <select name="tasklists" id="tasklists" required>
          {% for tasklist in all_tasklists %}
            <option value="{{ tasklist.id }}">{{ tasklist.name }}</option>
          {% endfor %}
        </select>
        <div class="row ml-2 category-buttons">
          <button type="button" class="col mt-1 mr-1 px-2 d-inline-block border-0 bg-transparent new-list-form"><i class="far fa-plus-square fa-2x align-middle"></i></button>
          <button id="edit-list-form-button" type="button" class="col px-2 d-inline-block border-0 bg-transparent"><i class="far fa-edit fa-2x align-middle edit-list-form"></i></button>
          <button id="delete-list-form-button" type="button" class="col px-2 d-inline-block border-0 bg-transparent"><i class="far fa-trash-alt fa-2x align-middle"></i></button>
        </div>
      </div>
    </div>
    <div class="mb-5 px-3">
      <label>Nom*</label>
      <input class="form-control" type="text" name="name" required="true" id="empty-task-form-name" maxlength="150">
    </div>
    <div class="mb-5 px-3 font-16">
      <label>Date limite</label>
      <input class="form-control" type="date" name="due_date" id="empty-task-form-date">
    </div>
    <div class="mb-3 px-3 font-16">
      <label>Description</label>
      <textarea class="form-control" name="description" rows="3" id="empty-task-form-description"></textarea>
      <input type="hidden" name="task_id" required="true" id="empty-task-form-id" value="">
    </div>
    <div class="row">
      <div class="col pr-5">
        <button type="submit" class="addBtn btn btn-submit-register" id="empty-task-form-submit-add-button">Ajouter</button>
        <a href="/tasks" class="addBtn cancel-button">Annuler</a>
      </div>
    </div>
  </form>
</div>
