<div class="pl-3 py-2 border-bottom green-blue-bg text-white">
  <h4 class="baloo-font font-22">Nouvelle tâche</h4>
</div>
  <form class="py-3 border" action="/addtask" method="post">
  {% csrf_token %}
  <div class="mb-3 px-3">
    <label for="tasklists">Catégorie :</label>
    <select name="tasklists" id="tasklists">
      {% for tasklist in all_tasklists %}
        <option value="{{ tasklist.id }}">{{ tasklist.name }}</option>
      {% endfor %}
    </select>
    <button onclick="openForm()" type="button" class="border-0"><i class="far fa-plus-square fa-2x align-middle"></i></button>
  </div>
  <div class="mb-5 px-3">
    <label>Nom*</label>
    <input class="form-control" type="text" name="name" required="true">
  </div>
  <div class="mb-5 px-3 font-16">
    <label>Date limite</label>
    <input class="form-control" type="date" name="due_date">
  </div>
  <div class="mb-3 px-3 font-16">
    <label>Description</label>
    <textarea class="form-control" name="description" rows="3"></textarea>
  </div>
  <div class="row">
    <div class="col pr-5">
      <button type="submit" class="addBtn btn btn-submit-register green-blue-bg">Ajouter</button>
      <a href="/tasks" class="addBtn btn btn-submit-register">Annuler</a>
    </div>
  </div>
</form>
