body {
  margin: 0;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Logofont;
  src: url('../fonts/powell_antique/PowellAntique.ttf');
}

@font-face {
  font-family: BalooFont;
  src: url('../fonts/Baloo_Tamma_2/BalooTamma2-Regular.ttf');
}

.project-name {
  font-family: 'Dancing Script';
  font-size: 55px;
}

.powell-font {
  font-family: 'Logofont';
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #d8f7ca;
  color: #262c3a;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #b8e1a5;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.text-green:hover {
  text-decoration: underline;
  color: #88c27d !important;
}

.cancel-button:hover, .btn-submit-register:hover {
  color: white !important;
}

.category:hover {
  color: white !important;
}

.new-task-button:hover {
  color: white !important;
}

.sort-by-buttons:hover {
  color: white !important;
}

.sidebar-elt:hover, .disconnect-icon:hover {
  color: #ffbf00 !important;
}

.disconnect-icon {
  font-size: 2.2em;
}

.wip-elt {
  color: #fff6 !important;
}

.baloo-font {
  font-family: BalooFont;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.fa-2x {
    font-size: 1.5em;
}

/* Style the header */
.header {
  background-color: #46B39D;
  padding: 20px 40px;
  text-align: center;
  border-bottom: 1px solid #cdd4d4;
  height: 80px;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px 17px;
  color: #fff;
  float: right;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
  margin-right: 10px;
}

.cancel-button {
  color: #fff;
  background-color: #262c3a;
  border: 1px solid #262c3a;
}

.cancel-button:hover {
  background-color: #47536f !important;
  text-decoration: none;
  border: white;
  color: #fff;
}

.submit-list-form:hover {
  opacity: .80;
  border: white;
  color: #fff;
}

.logo {
  max-height: 100px;
  height: auto;
  position: absolute;
  left: 30px;
  top: 5px;
  padding: 5px 0 5px;
}

.task-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.loginform {
  max-width: 400px;
  background-color: lightgreen;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.page-subtitle{
  font-size: 50px;
  font-family: Logofont;
}

.btn-submit-register {
  border: 1px solid;
  width: 100px;
}

.beautiful-title {
  display: inline-block;
  padding: 10px 25px;
  font-family: Logofont;
  font-size: 50px;
}

.big-title {
  font-size: 70px;
  font-family: Logofont;
}

.text-green {
  color: #88c27d;
}

.text-darkblue {
  color: #262c3a
}

.text-green-blue {
  color: #21756b
}

.green-blue-bg {
  background-color: #21756b;
}

.dark-bg {
  background-color: #323439;
}

.lightgreen-bg {
  background-color: #ccecc3;
}

.big-font-size {
  font-size: 48px;
}

.huge-font-size {
  font-size: 78px;
}

.register-submit {
  background-color: #88c27d;
  border: 1px solid #fff;
  color: #262c3a;
}

.register-form {
  border-radius: 20px;
  padding: 20px 30px;
  color: #fff;
  max-width: 450px;
}

.darkblue-bg {
  background-color: rgb(38, 44, 58);
}

#logo {
  font-family: Logofont;
  color: #fff;
  font-size: 50px;
}

.flipped-left {
  transform: scaleX(-1);
}

.logo-medium {
  width: 200px;
  height: 200px;
}

.logo-small {
  width: 100px;
  height: 100px;
}

.form-group {
  margin-bottom: 50px;
}

.alert-success {
  color: #155724;
  background-color: #88c27d;
  border-color: #fff;
}

.alert-error {
  color: #353535;
  background-color: #e59e5f;
  border-color: #fff;
}

.sidebar {
  color: #fff !important;
  font-size: 30px !important;
  border-radius: 0 10px 10px 0;
  width: 100%;
  z-index: 1;
  border: 1px solid transparent;
}

.sidebar-elt {
  width: 100%;
  padding: 12px 16px;
  vertical-align: middle;
  color: inherit;
  text-align: center;
}

.sidebar-elt:hover {
  color: #ffbf00;
}

.task-box {
  box-shadow: 0 0 2px;
  border-radius: 5px;
}

.task-box:hover {
  box-shadow: 0 0 5px;
}
.sort-by-buttons {
  margin: 5px 5px;
  background-color: #21756b;
  color: white;
  border-radius: 15px;
  padding: 3px 12px;
}

.sort-by-buttons a:hover {
    text-decoration: none;
    color: white;
}

.category {
  position: relative;
  margin: 5px 5px;
  color: white;
  border-radius: 15px;
  padding: 3px 12px;
}

.category:hover {
  text-decoration: none;
}

.after-effect::after {
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: #27AE60 2px solid;
    content: '';
    border-radius: 20px;
}

#BaseListForm, #DeleteListForm {
  display: none;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9;
  background-color: white;
  max-width: 450px;
  box-shadow: 0 0 5px;
}

.color-field {
  height: 40px;
}

.category-color {
  max-width: 5px;
}

.offset-left-45 {
  margin-left: -45px;
}

.form-control {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.form-control:invalid {
  outline: none;
}
.new-task-button {
  background-color:#3ea661;
}

.new-task-button:hover {
  transition: 0.2s;
  opacity: .80;
}

.sort-by-buttons:hover {
  transition: 0.2s;
  text-decoration: none;
}

#sort_by_all {
  background-color: #d73d3d;
}

#sort_by_current {
  background-color: #ffad10;
}

#sort_by_finished {
  background-color: #7f807f;
}

#empty-task-form-header {
  border-radius: 10px 10px 0 0;
  transition: 0.3s;
  background-color: #21756b;
}

#empty-task-form-submit-add-button:hover {
  color: white;
  border: white;
  opacity: .80;
}

#empty-task-form {
  border-radius: 10px;
}

#tasklists {
  min-width: 130px;
}

.mx-8 {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}

.stat-container {
  padding: 10px;
  background-color: #F0CA4D;
  color: #333;
  border-radius: 20px;
  margin: 0 20px 12px;
  width: 300px;
  border: 2px solid white;
}

.left-side-dashboard-section {
  background-color: #46B39D;
  color: #f0ca4d;
}

.right-side-dashboard-section {
  background-color: #DE4F3C;
  border-left: 2px solid white;
}

.global-dashboard {
  margin: 25px;
  box-shadow: 0 0 5px black;
  border: 2px solid white;
}

.dashboard-bg {
  background-color: #334752;
}

#this-week {
  background-color: #E37332;
  border-top: 2px solid white;
}

#today {
  background-color: #3EA48F;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
