<h4>Tâches terminées</h4>
<div class="row task-box border">
{% for task in finished_tasks %}
  <div class="col-10">
    <div class="pl-2 pt-1">
      {{ task.name }}
    </div>
    <div class="pl-2 pt-1 font-16">
      {% if task.due_date %}
        {{ task.due_date }}
      {% else %}
        -
      {% endif %}
    </div>
    <div class="pl-2 pt-1 font-16">
      {{ task.description }}
    </div>
  </div>
  <div class="col-2">
    <div class="row align-items-center h-100">
      <div class="col-6">
        <a href="/changestate/{{ task.id }}" class="d-inline float-right"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
      </div>
      <div class="col-6">
        <a href="/deltask/{{ task.id }}" class="d-inline float-right"><i class="fas fa-times fa-2x"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
