{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block body_class %}dashboard-bg{% endblock body_class %}

{% block main_content %}
<div class="row header py-2 dashboard-bg">
  <div class="col-1 text-center">
    <h2 class="powell-font text-white py-2">Dashboard</h2>
  </div>
  <div class="col-10 text-center">
    <div class="sidebar">
      <a href="/dashboard" class="sidebar-elt"><i class="fas fa-tachometer-alt"></i></a>
      <a href="/tasks" class="sidebar-elt"><i class="fas fa-check-square"></i></a>
      <a href="/coveys_matrix" class="sidebar-elt"><i class="fas fa-th-large"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-columns"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-hourglass-start"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-stopwatch"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt far fa-calendar-alt"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-meteor"></i></a>
    </div>
  </div>
  <div class="col-1 text-center py-3">
    <a href="/logout">
      <i class="fas fa-sign-out-alt disconnect-icon text-white"></i>
    </a>
  </div>
</div>

<div class="row global-dashboard mx-auto">
  <div class="col-8 p-0">
    <div class="container-fluid left-side-dashboard-section py-3" id="today">
      <div class="row">
        <div class="col-8 offset-2">
          <h1 class="text-center big-font-size baloo-font text-white">Aujourd'hui</h1>
        </div>
      </div>
      <div class="row justify-content-center py-3">
        <div class="col-6" align="center">
          <div class="stat-container">
            <h2 class="text-center huge-font-size powell-font">{{ today_done_tasks }}</h2>
            <h2 class="text-center">Tâches effectuées</h2>
          </div>
        </div>
        <div class="col-6" align="center">
          <div class="stat-container">
            <h2 class="text-center huge-font-size powell-font">{{ today_total_tasks }}</h2>
            <h2 class="text-center">Au total</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid left-side-dashboard-section py-3" id="this-week">
      <div class="row">
        <div class="col-8 offset-2">
          <h1 class="text-center big-font-size baloo-font text-white">Cette semaine</h1>
        </div>
      </div>
      <div class="row justify-content-center py-3">
        <div class="col-6" align="center">
          <div class="stat-container">
            <h2 class="text-center huge-font-size powell-font">{{ done_for_next_week }}</h2>
            <h2 class="text-center">Tâches effectuées</h2>
          </div>
        </div>
        <div class="col-6" align="center">
          <div class="stat-container">
            <h2 class="text-center huge-font-size powell-font">{{ total_until_next_week }}</h2>
            <h2 class="text-center">Au total</h2>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-4 right-side-dashboard-section">
  <div class="my-5">
    <h1 class="big-font-size baloo-font text-white text-center">Total</h1>
    <div class="col mt-5">
      <div class="stat-container my-3 mx-auto">
        <h2 class="text-center huge-font-size powell-font">{{ done_tasks }}</h2>
        <h2 class="text-center">Tâches effectuées</h2>
      </div>
      <div class="stat-container mt-5 mb-3 mx-auto">
        <h2 class="text-center huge-font-size powell-font">{{ all_tasks }}</h2>
        <h2 class="text-center">Au total</h2>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
