{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block body_class %}dashboard-bg{% endblock body_class %}

{% block main_content %}
<div class="row header py-2">
  <div class="col-1 text-center">
    <h2 class="powell-font text-white py-2">Dashboard</h2>
  </div>
  <div class="col-10 text-center">
    <div class="sidebar">
      <a href="#" class="sidebar-elt"><i class="fas fa-tachometer-alt"></i></a>
      <a href="/tasks" class="sidebar-elt"><i class="fas fa-check-square"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard fas fa-th-large"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard fas fa-columns"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard fas fa-hourglass-start"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard fas fa-stopwatch"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard far fa-calendar-alt"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt-dashboard fas fa-meteor"></i></a>
    </div>
  </div>
  <div class="col-1 text-center py-3">
    <a href="/logout">
      <i class="fas fa-sign-out-alt disconnect-icon text-white"></i>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="dashboard-title">
    <h2 class="powell-font big-font-size">Cette semaine</h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row mx-8 mt-5">
    <div class="col">
      <div class="dashboard-section text-center mx-auto" id="stats-1">
        <div class="stats-container">
          <h2 class="powell-font huge-font-size">{{ done_tasks }}</h2><br>
          <h3 class="powell-font">Tâches effectuées</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dashboard-section text-center mx-auto" id="stats-2">
        <div class="stats-container">
          <h2 class="powell-font huge-font-size">{{ not_done_tasks }}</h2><br>
          <h3 class="powell-font">Tâches restantes</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dashboard-section text-center mx-auto" id="stats-3">
        <div class="stats-container">
          <h2 class="powell-font huge-font-size">{{ all_tasks }}</h2><br>
          <h3 class="powell-font">Tâches totales</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}
