{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body_class %}darkblue-bg{% endblock body_class %}

{% block header %}
{% endblock header %}

{% block main_content %}
<section>
  <div class="container-fluid text-center">
    <div class="logo-medium d-inline-block align-middle">
      <img class="img-fluid" src="{% static 'img/favicon.png' %}">
    </div>
    <div class="beautiful-title text-center mx-auto align-middle">
      <h2 class="big-title">Melius</h2>
    </div>
    <div class="logo-medium d-inline-block align-middle">
      <img class="img-fluid flipped-left" src="{% static 'img/favicon.png' %}">
    </div>
    <div class="d-inline-block topnav-logo">
      <a href="/login">
        <i class="fas fa-feather-alt fa-4x text-white"></i>
      </a>
    </div>
  </div>
  <div class="container-fluid text-center">
    <div class="beautiful-title">
      <h1>Page d'accueil</h1>
    </div>
    <div class="container">
      <img class="img-fluid" src="{% static 'img/online_organizer.png' %}">
    </div>
  </div>
</section>
{% endblock main_content %}

{% block info_section %}
{% endblock info_section %}

{% block footer %}
{% endblock footer %}
