<div class="row kanban-task-box border white-bg my-2 mx-3" id="{{ task.id }}">
  <div class="col-1 pr-0">
    <div class="h-100 category-color p-0" style="background-color:{{ task.tasklist.color }}"></div>
  </div>
  <div class="col-8 py-2 px-0 bg-transparent border-0" type="button">
    <div class="pl-2 pt-1">
      {{ task.name }}
    </div>
    <div class="pl-2 pt-1 font-16">
      {% if task.due_date %}
        {{ task.due_date_clean_display }}
      {% endif %}
    </div>
    <div class="pl-2 pt-1 font-16">
      {{ task.description }}
    </div>
  </div>
  <div class="col-3 px-0">
    {% if task.in_progress %}
      <div class="row h-100 justify-content-between">
        <form action="/cancelinprogress" method="post" class="col-6 my-auto px-0">
          {% csrf_token %}
          <button class="bg-transparent border-0" type="submit" name="task_id" value="{{ task.id }}">
            <i class="fas fa-arrow-alt-circle-left fa-2x cross-matrix-button"></i>
          </button>
        </form>
        <form action="/setfinished" method="post" class="col-6 my-auto px-0">
          {% csrf_token %}
          <button class="bg-transparent border-0" type="submit" name="task_id" value="{{ task.id }}">
            <i class="fas fa-check fa-2x cross-matrix-button"></i>
          </button>
        </form>
      </div>
    {% else %}
      {% if task.is_done %}
      <!-- <form action="/deltask" method="post" class="col-5 my-auto px-0">
        {% csrf_token %}
        <button class="bg-transparent border-0" type="submit" name="task_id" value="{{ task.id }}">
          <i class="far fa-trash-alt fa-2x cross-matrix-button"></i>
        </button>
      </form> -->
      {% else %}
        <div class="row h-100 justify-content-center">
          <form action="/setinprogress" method="post" class="col-5 my-auto px-0">
            {% csrf_token %}
            <button class="bg-transparent border-0" type="submit" name="task_id" value="{{ task.id }}">
              <i class="fas fa-arrow-alt-circle-right fa-2x cross-matrix-button"></i>
            </button>
          </form>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
