<div class="row task-box border white-bg my-2 mx-3" type="button" onclick="openChangeMatrixQuarter()" id="{{ task.id }}">
  <div class="col-1 pr-0">
    <div class="h-100 category-color p-0" style="background-color:{{ task.tasklist.color }}"></div>
  </div>
  <div class="col-9 py-2 px-0">
    <div class="pl-2 pt-1">
      {{ task.name }}
    </div>
    <div class="pl-2 pt-1 font-16">
      {% if task.due_date %}
        {{ task.due_date_clean_display }}
      {% endif %}
    </div>
    <div class="pl-2 pt-1 font-16">
      {{ task.description }}
    </div>
  </div>
  <!-- <div class="col-2 my-auto">
    <div class="bg-transparent" type="button"">
      <i class="fas fa-expand-arrows-alt fa-2x change-matrix-button"></i>
    </div>
  </div> -->
</div>
