<div class="row task-box border my-2 mx-3" id="{{ task.id }}">
  <div class="col-1">
    <div class="h-100 category-color p-0" style="background-color:{{ task.tasklist.color }}"></div>
  </div>
  <div class="col-9 offset-left-45 py-2">
    <div class="pl-2 pt-1">
      {{ task.name }}
    </div>
    <div class="pl-2 pt-1 font-16">
      {% if task.due_date %}
        {{ task.due_date_clean_display }}
      {% endif %}
    </div>
    <div class="pl-2 pt-1 font-16">
      {{ task.description }}
    </div>
  </div>
  <div class="col-2 ml-3">
    <div class="row align-items-center h-100">
      <div class="col-6">
        <div class="d-inline del-task"><i class="far fa-trash-alt fa-2x text-darkblue"></i></div>
      </div>
      <div class="col-6">
        <a href="/changestate/{{ task.id }}" class="d-inline change-task-state"><i class="fas fa-check fa-2x text-darkblue last-icon-task"></i></a>
      </div>
    </div>
  </div>
</div>
