{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Stephen Covey's Matrix{% endblock title %}

{% block body_class %}baloo-font matrix-bg{% endblock body_class %}

{% block main_content %}
<div class="row header matrix-header">
  <div class="col-1 text-center">
    <h2 class="powell-font text-white pb-2">Matrice</h2>
  </div>
  <div class="col-10 text-center">
    <div class="sidebar pb-3">
      <a href="/dashboard" class="sidebar-elt"><i class="fas fa-tachometer-alt"></i></a>
      <a href="/tasks" class="sidebar-elt"><i class="fas fa-check-square"></i></a>
      <a href="/coveys_matrix" class="sidebar-elt"><i class="fas fa-th-large"></i></a>
      <a href="/kanban" class="sidebar-elt"><i class="fas fa-columns"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-hourglass-start"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-stopwatch"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt far fa-calendar-alt"></i></a>
      <a href="#" class="sidebar-elt"><i class="wip-elt fas fa-meteor"></i></a>
    </div>
  </div>
  <div class="col-1 text-center">
    <a href="/logout">
      <i class="fas fa-sign-out-alt disconnect-icon text-white"></i>
    </a>
  </div>
</div>

<div class="see-my-tasks-button text-center" type="button" onclick="toggleMyTasks()">
  <i class="fas fa-arrow-circle-left fa-2x"></i>
</div>

<div class="box-shadow" id="my-tasks" style="display: block;">
  <div class="row justify-content-center pt-2 text-white">
    <div class="col-2">
    </div>
    <div class="col-8 text-center">
      <h5>Mes tâches</h5>
    </div>
    <div class="col-2 bg-transparent" type="button" onclick="toggleCategoriesSort()">
      <i class="fas fa-angle-down fa-2x"></i>
    </div>
    <div id="categories-sort" class="row pt-2">
      <a class="matrix-category text-white darkblue-bg" href="/coveys_matrix">Toutes</a>
      {% for tasklist in backlog.all_tasklists %}
        <div class="d-inline-block mb-3">
          <a class="matrix-category text-white" href="/covey_sort_backlog/{{ tasklist.id }}" method="post" style="background-color:{{ tasklist.color }}">{{ tasklist.name }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="scrollable">
    <div class="overdue-tasks-list">
      {% if backlog.overdue_tasks|length > 0 %}
        <p class="m-3 text-white">Tâches dépassées</p>
        {% for task in backlog.overdue_tasks %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="today-tasks-list">
      {% if backlog.due_today_tasks|length > 0 %}
        <p class="m-3 text-white">Pour aujourd'hui</p>
        {% for task in backlog.due_today_tasks %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="tomorrow-tasks-list">
      {% if backlog.due_tommorow_tasks|length > 0 %}
        <p class="m-3 text-white">Pour demain</p>
        {% for task in backlog.due_tommorow_tasks %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="future-tasks-list">
      {% if backlog.future_tasks|length > 0 %}
        <p class="m-3 text-white">A venir</p>
        {% for task in backlog.future_tasks %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="no-date-tasks-list">
      {% if backlog.no_date_tasks|length > 0 %}
        <p class="m-3 text-white">Sans date</p>
        {% for task in backlog.no_date_tasks %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
</div>

<div class="matrix-container col-8 offset-3 px-2">
  <div class="row mt-2 justify-content-around">
    <div class="col-5 matrix-quarter p-0">
      <div class="row py-2" id="important-urgent-title">
        <div class="mx-auto">
          <h5 class="text-center text-white mb-0">Important & urgent</h5>
        </div>
      </div>
      <div id="important-urgent">
        {% for task in matrix_data.important_urgent %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="col-5 matrix-quarter p-0">
      <div class="row py-2" id="important-non-urgent-title">
        <div class="mx-auto">
          <h5 class="text-center text-white mb-0">Important mais pas urgent</h5>
        </div>
      </div>
      <div id="important-non-urgent">
        {% for task in matrix_data.important_non_urgent %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row justify-content-around mt-3">
    <div class="col-5 matrix-quarter p-0" >
      <div class="row py-2" id="non-important-urgent-title">
        <div class="mx-auto">
          <h5 class="text-center text-white mb-0">Urgent mais pas important</h5>
        </div>
      </div>
      <div id="non-important-urgent">
        {% for task in matrix_data.non_important_urgent %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="col-5 matrix-quarter p-0">
      <div class="row py-2" id="non-important-non-urgent-title">
        <div class="mx-auto" >
          <h5 class="text-center text-white mb-0">Ni urgent ni important</h5>
        </div>
      </div>
      <div id="non-important-non-urgent">
        {% for task in matrix_data.non_important_non_urgent %}
          {% include "tasks/matrix_task.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<form id="change-matrix-box" action="/update_matrix_task" method="post">
  {% csrf_token %}
  <input id="change-matrix-task-id" class="form-control pt-2" type="hidden" name="task_id" value="" required="true">
  <input id="change-matrix-destination" class="form-control pt-2" type="hidden" name="destination" value="" required="true">
  <div id="matrix-top-row" class="row h-50">
    <button id="matrix-quarter-1" class="col-6" name="matrix-quarter-1" type="submit" onclick="closeChangeMatrixQuarter()"></button>
    <button id="matrix-quarter-2" class="col-6" name="matrix-quarter-2" type="submit" onclick="closeChangeMatrixQuarter()"></button>
  </div>
  <div class="row h-50">
    <button id="matrix-quarter-3" class="col-6" name="matrix-quarter-3" type="submit" onclick="closeChangeMatrixQuarter()"></button>
    <button id="matrix-quarter-4" class="col-6" name="matrix-quarter-4" type="submit" onclick="closeChangeMatrixQuarter()"></button>
  </div>
  <div class="absolute-center" type="button" onclick="closeChangeMatrixQuarter()">
    <i class="fas fa-times-circle fa-2x"></i>
  </div>
</form>

<script src="{% static 'js/coveys_matrix.js' %}"></script>

{% endblock main_content %}
