{% extends 'base.html' %}
{% load static %}

{% block title %}Tâches{% endblock title %}

{% block main_content %}
<div class="sidebar pt-2">
  <img class="img-fluid" src="{% static 'img/favicon.png' %}">
  <a href="#" class="sidebar-elt"><i class="fas fa-tachometer-alt"></i></a>
  <a href="/tasks" class="sidebar-elt"><i class="fas fa-check-square"></i></a>
  <a href="#" class="sidebar-elt"><i class="fas fa-plus"></i></a>
  <a href="#" class="sidebar-elt"><i class="fas fa-clipboard-list"></i></a>
  <a href="#" class="sidebar-elt"><i class="fas fa-hourglass-start"></i></a>
  <a href="#" class="sidebar-elt"><i class="fas fa-stopwatch"></i></a>
  <a href="#" class="sidebar-elt"><i class="far fa-calendar-alt"></i></a>
</div>

<div class="row header">
  <div class="col-1"></div>
  <div class="col text-center d-inline-block">
    <h2 id="logo">Melius</h2>
  </div>
  <div class="col-1 float-right my-3">
    <a href="/logout">
      <i class="fas fa-sign-out-alt fa-3x text-white"></i>
    </a>
  </div>
</div>

<div class="row mt-3">
  <section class="col container tasks ml-5 pl-5">
    <div class="text-center">
      <h3>Tasks</h3>
    </div>
    <div class="py-5">
      <form class="" action="addtask" method="post">
        {% csrf_token %}
        <input type="text" id="TaskInput" name="taskname" placeholder="Name...">
        <button type="submit" class="addBtn btn btn-submit-register">Ajouter</button>
      </form>
    </div>

    <ul>
      {% for task in tasks %}
      <li>{{ task.name }}<a href="deltask/{{ task.id }}"><span class="close">x</span></a></li>
      {% endfor %}
    </ul>
  </section>

  <section class="col container">
    <div class="text-center">
      <h3>Detail</h3>
    </div>
    <div class="border w-100 h-50">

    </div>
  </section>
</div>
{% endblock main_content %}
